NEXT_PUBLIC_WEB_URL=https://portfolio.chaiyot.dev
NEXT_PUBLIC_RESUME_URL=https://example.com/your-resume-on-cloud.pdf
OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy.monitoring.svc.cluster.local:4318
OTEL_SERVICE_NAME=portfolio-ui
OTEL_LOG_LEVEL=info